########################################################################################
# Create a copy of this file in the same directory entitled settings.toml or create a  #
# settings.toml from scratch. Possible values are explained here. All values in your   #
# settings.toml will override the defaults defined in default.toml.                    #
########################################################################################

# Port to serve the webserver on, including the API and client.
port = 80